{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>{{ event.name }}</h1>
    <h2>Theme</h2>
    <p class = "eventShow-item">{{ event.theme }}</p>
    <h2>Heure de début</h2>
    <p class = "eventShow-item">{{ event.datetimeStart ? event.datetimeStart|date('Y-m-d H:i:s') : '' }}</p>
    <h2>Heure de fin</h2>
    <p class = "eventShow-item">{{ event.datetimeEnd ? event.datetimeEnd|date('Y-m-d H:i:s') : '' }}</p>
    <h2>Lieu</h2>
    <p class = "eventShow-item">{{ event.place }}</p>
    <div>
        <a href="{{ path('event_index') }}">Retour à la Liste</a>
    </div>
    <div>
        <a href="{{ path('event_edit', {'id': event.id}) }}">modifier</a>
    </div>
    <div>
    {{ include('event/_delete_form.html.twig') }}
    </div>
{% endblock %}
