{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}
    <div>
        <img class="banner-eventShow" src="{{ asset('/uploads/' ~ event.image) }}" />
        <h1 class = "eventShow-title">{{ event.name }}</h1>
    </div>
    <p class = "eventShow-item"><i>{{ event.description }}</i></p>
    <div class = "showItem from">
        <h2>Du</h2>
        <p class = "eventShow-item">{{ event.datetimeStart ? event.datetimeStart|date('d/m/Y H:i') : '' }}</p>
    </div>
    <div class = "showItem to">
        <h2>Au</h2>
        <p class = "eventShow-item">{{ event.datetimeEnd ? event.datetimeEnd|date('d/m/Y H:i') : '' }}</p>
    </div>
    <div class = "showItem location">
        <img class = "icon" src = "{{ asset('build/images/location.png') }}">
        <p class = "eventShow-item">{{ event.place }}</p>
    </div>
        <div class = "showItem location">
        <p class = "eventShow-item">Nombre de participants: 
        {% if event.maxParticipant and event.currentParticipant %}
            {{ event.currentParticipant }}/{{ event.maxParticipant }}
        {% elseif event.currentParticipant %}
            {{ event.currentParticipant }}
            {% else %}
            Non renseigné
        {% endif %}
        </p>
    </div>
    <div class = "button-container">
        <a class = "btn" href="{{ path('event_index') }}">Retour à la Liste</a>
        {% if app.user == event.organizer %}
        <a class = "btn" href="{{ path('event_edit', {'id': event.id}) }}">modifier</a>
        {{ include('event/_delete_form.html.twig') }}
        <ul>
        {% for friend in app.user.friends %}
            <li>
                <img src="{{ asset('/uploads/' ~ friend.avatar) }}" style = "width : 5rem; height: 5rem;">
                <form action="{{ path('event_user_toggle', {"event": event.id, "user": friend.id}) }}" method="post">
                    <p>{{friend.firstname ~ ' ' ~ friend.lastname}}</p>
                    <button type="submit">{{ event.hasParticipant(friend) ? "Désinviter" : 'Inviter' }}</button>
                </form>
            </li>
        {% else %}
            <p>pas d'amis :'(</p>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
