{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
    
{% block body %}
<div>
    <img class="banner-img" src="{{ asset('build/images/banner-img.6394fd7a.jpg') }}"/>
</div>

<div class="wrapper">
    <div>
        <a href = "{{ path('friend_show', {'id': app.user.id}) }}"><img class="wrapper-img" src="{{ asset('/build/images/amis.92db0299.png') }}"/></a>
    </div>
    <div>
        <a href="/event"><img class="wrapper-img" src="{{ asset('/build/images/mesevent.b3258772.png') }}"/></a>
    </div>
    <div>
        <a href="/event/new"><img class="wrapper-img" src="{{ asset('/build/images/newevent.85896179.png') }}"/></a>
    </div>
    <div>
        <img class="wrapper-img" src="{{ asset('/build/images/carte.21117fbf.png') }}"/>
    </div>
</div>
{% endblock %}
