{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block headMap %}

<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js"></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' />

{% endblock %}


{% block body %}

<div id='map'></div>

{% endblock %}

{% block javascripts %}

<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2FuY2hlejA4MjMwIiwiYSI6ImNrazJxNGt6eDEzZW4yb3J1MmlnbWoyM2IifQ.sL93OELuUpqzZSHwQGes0A';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/sanchez08230/ckk3swi694qlc17p855bf8k6h',
center: [12.550343, 55.665957],
zoom: 8
});
{% if app.user.address %}
fetch("https://api.mapbox.com/geocoding/v5/mapbox.places/{{ app.user.address }}.json?limit=1&access_token=pk.eyJ1Ijoic2FuY2hlejA4MjMwIiwiYSI6ImNrazJxNGt6eDEzZW4yb3J1MmlnbWoyM2IifQ.sL93OELuUpqzZSHwQGes0A")
        .then(response => response.json())
        .then(json => {
            console.log(json, json.features[0].center);
            const center = json.features[0].center;
            new mapboxgl.Marker({
                    color: '#c07a7f'
                })
            .setPopup(new mapboxgl.Popup().setHTML("<h1>Mon adresse</h1><p>{{app.user.address}}</p>")) // add popup
            .setLngLat(center)
            .addTo(map);
        });
{% endif %}
{% if events %}
    const events = [
    {% for event in events %}
        {place: '{{ event.place }}', name: '{{event.name}}', datetimeStart: '{{event.datetimeStart|date('d/m/Y H:i')}}', datetimeEnd: '{{event.datetimeStart|date('d/m/Y H:i')}}' },
    {% endfor %}
    ]
        events.forEach(event => {
            fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${event.place}.json?limit=1&access_token=pk.eyJ1Ijoic2FuY2hlejA4MjMwIiwiYSI6ImNrazJxNGt6eDEzZW4yb3J1MmlnbWoyM2IifQ.sL93OELuUpqzZSHwQGes0A`)
                .then(response => response.json())
                .then(json => {
                    const center = json.features[0].center;
                    new mapboxgl.Marker()
                    .setPopup(new mapboxgl.Popup().setHTML(`<h1>${event.name}</h1><p>${event.place}</p><p>Début: ${event.datetimeStart}</p><p>Fin: ${event.datetimeEnd}</p>`)) // add popup
                    .setLngLat(center)
                    .addTo(map);
                })
        })
{% endif %}
</script>

{% endblock %}
