{% extends "base.html.twig" %}
{% block body %}
	<section class="my-friends-banner" style = "background-color: #7588b9 ;">
		<img class = "banner-logo-friends" src = "{{ asset('build/images/friends_icon.png') }}">
        <h1 class="my-friends-title">MES AMIS</h1>
	</section>
	<div>
		{{ include('user/_search_form.html.twig') }}
	</div>
	<ul class="friends-show">
		{% for friend in user.friends %}
			<li>
				<img src="{{ asset('/uploads/' ~ friend.avatar) }}" style = "width : 5rem; height: 5rem;">
				<a href="{{ path('user_show', {"id": friend.id}) }}">{{friend.firstname ~ ' ' ~ friend.lastname}}</a>
			</li>
		{% else %}
			<p>Ajoutez votre 1er⸱e ami⸱e !</p>
		{% endfor %}
	</ul>
{% endblock %}

