{% extends "base.html.twig" %}
{% block body %}
	<section class="my-friends-banner" style = "background-color: #7588b9 ;">
		<img class = "banner-logo-friends" src = "{{ asset('build/images/friends_icon.png') }}">
        <h1 class="my-friends-title">MES AMIS</h1>
	</section>
	<div>
		{{ include('user/_search_form.html.twig') }}
	</div>
	<ul class="friends-show">
		{% for friend in user.friends %}
			<li>
				<a href="{{ path('user_show', {"id": friend.id}) }}">
					<img class="friend-picture" src="{{ asset('/uploads/' ~ friend.avatar) }}">
					<p>{{friend.firstname ~ ' ' ~ friend.lastname}}</p>
				</a>
			</li>
		{% else %}
			<p>Ajoutez votre 1er⸱e ami⸱e !</p>
		{% endfor %}
	</ul>
{% endblock %}

