{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block bodyClass %}safeNightGray{% endblock %}

{% block body %}

	<div class="profil-pic-section">
		<img class="profil-pic" src="{{'/uploads/' ~ user.avatar }}"/>
	</div>

	<h1 class="h1-profil-user">{{ user.firstname }} {{ user.lastname }}	</h1>

	<table class="user-profil">
		<tbody>
			<tr>
				<th>Email :</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Numéro de téléphone :</th>
				<td>{{ user.phoneNumber }}</td>
			</tr>
			<tr>
				<th>Date de naissance :</th>
				<td>{{ user.birthday|date('d/m/Y') }}</td>
			</tr>
			<tr>
				<th>Adresse :</th>
				<td>{{ user.address }}</td>
			</tr>
		</tbody>
	</table>

	{% if app.user and app.user.id != user.id %}
		{% if app.user.hasFriend(user) %}
			<form method="POST" action="{{ path('user_friend_remove', {'user': user.id}) }}">
				<input id="friend.id" name="friend.id" type="hidden" value="{{ user.id }}">
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
				<button type="Submit">Supprimer</button>
			</form>
		{% else %}
			<form method="POST" action="{{ path('user_friend_add', {'user': user.id}) }}">
				<input id="friend.id" name="friend.id" type="hidden" value="{{ user.id }}">
				<button type="Submit">Ajouter</button>
			</form>
		{% endif %}
	{% endif %}

	<div class="edit-delete-section">
		{% if app.user.id == user.id %}
			<a class="user-button" href="{{ path('user_edit', {'id': user.id}) }}">Modifier le profil</a>
			<a class="user-button">CGU et CGV</a>
			<a class="user-button" href = "{{ path('app_logout') }}">Déconnexion</a>
			{{ include('user/_delete_form.html.twig') }}
		{% endif %}
	</div>

{% endblock %}
